*{
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    width: 100vw;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 5px;
}

.label{
    font-size: 18px;
    text-align: start;
    width: 100%;
    font-weight: 400;
}